# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch Models
*.pth
*.pt

# Datasets / Images / Videos
dataset/
data/
*.mp4
*.avi
*.mov
*.jpg
*.jpeg
*.png

# Virtual Environments
venv/
env/
.env
.venv
ENV/
env.bak/
venv.bak/

# Streamlit config/cache
.streamlit/
